
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}

:root{
    --color-primary: #29d882;
    --color-primary-variant: #00bd95;
    --color-white: #ffff;
    --color-light: #f0fcf9;
    --color-dark: #88949b;
    --color-black: #171c23;
    --color-off-black: #21272f;
    --bg-variant: #29d8831c;

    --transition: .4s ease;

}
body{
    background: #262626;
    color: white;
    
    
}


.header-left small{
    color: greenyellow;
    font-size: 14px;
}

img{
    display: block;
    width: 100%;
}
.bbtns{
    display: inline-block;
    width: fit-content;
    font-size: 19px;
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 30px;
    background: #378805;
    color: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: var(--transition);
}
.bbtns:hover{
    background: #0B6E4F;
    box-shadow: none;
}
section{
    padding: 6rem 0;
}
.container{
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
}

/* start navbar */
nav{

    width: 100%;
    display: flex;
    align-items: center;
    height: 4rem;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background: #262626;

    

}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-white);
}
.logo span{
    color: greenyellow;

}

.nav-links{
    display: flex;
    align-items: center;
    gap: 4rem;

}
.nav-links li a{
    color: var(--color-white);
    font-size: 19px;
    position: relative;
    transition: var(--transition);
}

.nav-links li a:hover::after{
    width: 100%;

}
.nav-links li a:hover{
    color: var(--color-dark);
}
.nav-link:hover::after,
.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 3px;
    background-color: greenyellow;
    border-radius: 6px;
}


@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }
}


/* end navbar */

header{
    padding: 82px 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-container {
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
    
}

.header-left {
    flex: 1;
    padding: 2px;
}

.header-left h3 {
    font-size: 24px;
    color: #03A9F4;
    margin-bottom: 10px;
    
}

.header-left h1 {
    font-size: 48px;
    color: ghostwhite;
}

.header-left p {
    font-size: 18px;
    margin: 16px 0;
    color: lavenderblush;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: #378805;
    text-decoration: none;
    border-radius: 5px;
}

.header-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.circle {
    margin-bottom: 20px;
}

.circle a {
    font-size: 24px;
    color: beige;
    margin: 0 10px;
    text-decoration: none;
}
.hero-image {
    width: 360px; /* Adjust as needed */
    height: 360px; /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid blue;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
}



#about{
    padding: 82px 0;
    color: #ababab;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    
    color: rgb(27, 198, 198);
    display: flex;
    margin: 20px 0 40px;
}
.tab-titles p{
    font-size: 24px;
    font-weight: 600;
}
.tab-links:hover{
    color: darkolivegreen;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #20D374;
    border-radius: 6px;

    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: greenyellow;
    font-size: 14px;
}
.tab-contents ul li{
    color: white;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------Services--------- */
#services{
    padding: 65px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.services-list div{
    background: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    color: lavenderblush;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div i.fa-react{
    color: #3998B6;
}
.services-list div i.fa-python{
    color: #FFE76F;
}.services-list div i.fa-code{
    color: #dce3f8;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(11, 210, 210);
}
.services-list div a{
    text-decoration: none;
    color: lavenderblush;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #0B6E4F;
    transform: translate(-10px);
}

/* ----------portfolio------- */
#portfolio{
    padding: 65px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0B6E4F);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    color: #FFC107;
    font-weight: 700;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #378805;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0B6E4F;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #0B6E4F;
}

/* ---Contact-------- */
#contact{
    padding: 67px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: greenyellow;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: beige;
    
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ababab;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #378805;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: black;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright i{
    color: #378805;
}

.footer {
    background-color: black;
    padding: 20px 0;
}

.copyright {
    text-align: center;
    font-size: 16px;
    color: white;
}

/* Styling for tablets and larger devices (up to 1024px) */
@media only screen and (max-width: 1024px) {
    .footer {
        padding: 15px 0;
    }

    .copyright {
        font-size: 15px;
    }
}

/* Styling for portrait mode tablets and smaller devices (up to 768px) */
@media only screen and (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }

    .copyright {
        font-size: 14px;
    }
}

/* Styling for larger mobile devices and phablets (up to 600px) */
@media only screen and (max-width: 600px) {
    .footer {
        padding: 10px 0;
    }

    .copyright {
        font-size: 13px;
    }
}

/* Styling for small mobile devices (up to 480px) */
@media only screen and (max-width: 480px) {
    .footer {
        padding: 8px 0;
    }

    .copyright {
        font-size: 12px;
    }
}

/* Styling for very small mobile devices (up to 320px) */
@media only screen and (max-width: 320px) {
    .footer {
        padding: 5px 0;
    }

    .copyright {
        font-size: 11px;
    }
}


/* ------css for small screens---------- */


nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 1200px){
    .layer h3{
        color: #FFC107;
        font-weight: 700;
        margin-bottom: 4px;
    }
    .layer a{
        margin-top: 4px;
        color: #378805;
        text-decoration: none;
        font-size: 18px;
        line-height: 40px;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .layer p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px){

    .logo{
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-white);
    }
    .logo span{
        color: greenyellow;
    
    }
    .nav-links{
        display: flex;
        align-items: center;
        gap: 2.4rem;
    
    }

    

    header{
        padding: 82px 0;
    
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    
    .header-container {
        width: 90%;
        /* max-width: 1200px; */
        margin: 0 auto;
        
    }
    
    .header-left {
        flex: 1;
        padding: 2px;
    }
    
    .header-left h3 {
        font-size: 24px;
        color: #03A9F4;
        margin-bottom: 10px;
        
    }
    
    .header-left h1 {
        font-size: 48px;
        color: ghostwhite;
    }
    
    .header-left p {
        font-size: 18px;
        margin: 16px 0;
        color: lavenderblush;
    }
    
    
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background: #378805;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .header-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 20px; */
    }
    
    .circle {
        margin-bottom: 20px;
    }
    
    .circle a {
        font-size: 24px;
        color: beige;
        margin: 0 10px;
        text-decoration: none;
    }
    .hero-image {
        width: 300px; /* Adjust as needed */
        height: 300px; /* Adjust as needed */
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid blue;
    }
    
    .hero-image img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        height: 100%;
    }
    

}

@media only screen and (max-width: 900px){
    .logo{
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-white);
    }
    .logo span{
        color: greenyellow;
    
    }
    .nav-links{
        display: flex;
        align-items: center;
        gap: 2.4rem;
    
    }
    

}

@media only screen and (max-width: 850px){
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px){

    /* nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(49, 173, 173);
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        align-items: center;
        margin: 25px;
    }
    .nav-links{
        display: flex;
        align-items: center;
        gap: 2rem;
    
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } */

    .logo{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-white);
    }
    .logo span{
        color: greenyellow;
    
    }
    .nav-links{
        display: flex;
        align-items: center;
        gap: 1.8rem;
    
    }

    header{
        padding: 82px 0;
    
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    
    .header-container {
        width: 90%;
        /* max-width: 1200px; */
        margin: 0 auto;
        
    }
    
    .header-left {
        flex: 1;
        padding: 2px;
    }
    
    .header-left h3 {
        font-size: 24px;
        color: #03A9F4;
        margin-bottom: 10px;
        
    }
    
    .header-left h1 {
        font-size: 48px;
        color: ghostwhite;
    }
    
    .header-left p {
        font-size: 18px;
        margin: 16px 0;
        color: lavenderblush;
    }
    
    
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background: #378805;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .header-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 20px; */
    }
    
    .circle {
        margin-bottom: 20px;
    }
    
    .circle a {
        font-size: 24px;
        color: beige;
        margin: 0 10px;
        text-decoration: none;
    }
    .hero-image {
        width: 300px; /* Adjust as needed */
        height: 300px; /* Adjust as needed */
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid blue;
    }
    
    .hero-image img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        height: 100%;
    }


}

@media only screen and (max-width: 650px){

    .tab-titles p{
        font-size: 20px;
        font-weight: 600;
    }
    #about{
        padding: 50px 0;
        color: #ababab;
    }
    #contact{
        padding: 50px 0;
        color: #ababab;
    }
    
    .header-right{
        margin-bottom: 12px;
    } 
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(49, 173, 173);
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        align-items: center;
        margin: 25px;
    }
    .nav-links{
        display: flex;
        align-items: center;
        gap: 2rem;
    
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-left, .header-right {
        flex: 1 1 100%;
        text-align: center;
    }
    .header-left {
        order: 2; /* Place second */
    }

    .header-right {
        
        order: 1; /* Place first */
    }

    .header-left h1 {
        font-size: 36px;
    }
    
    .hero-image{
        
        margin-bottom: 2px;
    }

    .header-left p {
        font-size: 18px;
    }
     
    
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    
    
}

@media only screen and (max-width: 415px){
    .about-col-1 img{
        width: 90%;
        border-radius: 15px;
    }

    .header-left, .header-right {
        flex: 1;
    }

    .tab-titles p{
        font-size: 16px;
        font-weight: 600;
    }
    
    .header-container {
        flex-direction: column;
    }
    
    .header-right {
        order: 1;
    }
    
    .header-left {
        order: 2;
    }

    .hero-image {
        width: 240px; /* Adjust as needed */
        height: 240px; /* Adjust as needed */
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid blue;
    }
    
    .hero-image img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        height: 100%;
    }
}

@media only screen and (max-width: 370px){

    .header-left, .header-right {
        flex: 1;
    }

    .tab-titles p{
        font-size: 16px;
        font-weight: 600;
    }
    
    .header-container {
        flex-direction: column;
    }
    
    .header-right {
        
        order: 1;
    }
    
    .header-left {
        order: 2;
    }
    
    
    .about-col-1 img{
        width: 90%;
        border-radius: 15px;
    }

    
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
